In [1]:
print("Hello World!")

Hello World!

In [2]:
from sklearn import datasets

print(datasets.__all__)

['clear_data_home', 'dump_svmlight_file', 'fetch_20newsgroups', 'fetch_20newsgroups_vectorized', 'fetch_lfw_pairs', 'fetch_lfw_people', 'fetch_olivetti_faces', 'fetch_species_distributions', 'fetch_california_housing', 'fetch_covtype', 'fetch_rcv1', 'fetch_kddcup99', 'fetch_openml', 'get_data_home', 'load_boston', 'load_diabetes', 'load_digits', 'load_files', 'load_iris', 'load_breast_cancer', 'load_linnerud', 'load_sample_image', 'load_sample_images', 'load_svmlight_file', 'load_svmlight_files', 'load_wine', 'make_biclusters', 'make_blobs', 'make_circles', 'make_classification', 'make_checkerboard', 'make_friedman1', 'make_friedman2', 'make_friedman3', 'make_gaussian_quantiles', 'make_hastie_10_2', 'make_low_rank_matrix', 'make_moons', 'make_multilabel_classification', 'make_regression', 'make_s_curve', 'make_sparse_coded_signal', 'make_sparse_spd_matrix', 'make_sparse_uncorrelated', 'make_spd_matrix', 'make_swiss_roll']

In [3]:
import numpy as np 
dataset = np.loadtxt(
        "./pl.csv", 
        dtype={'names': ('name', 'year'), 'formats': ('U100', 'i4')}, 
        skiprows=1, 
        delimiter=",", 
        encoding="UTF-8"
) 
print(dataset)

[('ENIAC coding system', 1943) ('ENIAC Short Code', 1946)
 ('Von Neumann and Goldstine graphing system', 1946)
 ('ARC Assembly', 1947) ('Plankalkül', 1948) ('CPC Coding scheme', 1948)
 ('Curry notation system', 1948) ('Short Code', 1949)
 ('assembly language', 1949) ('Short Code', 1950) ('G-code', 1950)
 ('Birkbeck Assembler', 1950) ('Superplan', 1951) ('ALGAE', 1951)
 ('Intermediate Programming Language', 1951)
 ('Regional Assembly Language', 1951)
 ('Boehm unnamed coding system', 1951) ('Klammerausdrücke', 1951)
 ('OMNIBAC Symbolic Assembler', 1951) ('Stanislaus', 1951)
 ('Whirlwind assembler', 1951) ('Rochester assembler', 1951)
 ('Sort Merge Generator', 1951) ('autocode', 1952) ('A-0 System', 1952)
 ('Editing Generator', 1952) ('COMPOOL', 1952) ('Speedcoding', 1953)
 ('READ/PRINT', 1953) ('Fortran', 1954) ('ARITH-MATIC', 1954)
 ('autocode', 1954) ('Laning and Zierler system', 1954)
 ('MATH-MATIC', 1954) ('MATRIX MATH', 1954) ('FLOW-MATIC', 1955)
 ('PACT', 1955) ('BACAIC', 1955) ('Freiburger Code', 1955)
 ('Sequentielle Formelübersetzung', 1955) ('Internal Translator', 1955)
 ('PRINT', 1955) ('Information Processing Language', 1956)
 ('FORTRAN for the IBM 704', 1956) ('Fortran', 1957) ('COMTRAN', 1957)
 ('GEORGE', 1957) ('UNICODE', 1957) ('ALGOL 58', 1958) ('Lisp', 1958)
 ('ALGOL', 1958) ('FORTRAN III', 1958) ('FORTRAN II', 1958)
 ('JOVIAL', 1959) ('TRAC', 1959) ('COBOL', 1959) ('MAD', 1959)
 ('Lisp', 1959) ('FACT', 1959) ('COBOL', 1960) ('ALCOR', 1960)
 ('ALGOL 60', 1960) ('FORTRAN IV', 1961) ('TECO', 1962) ('SNOBOL', 1962)
 ('APL', 1962) ('Simula', 1962) ('CORC', 1962) ('CPL', 1963)
 ('JOSS', 1963) ('P′′', 1964) ('Report Program Generator', 1964)
 ('TRAC', 1964) ('BASIC', 1964) ('COWSEL', 1964) ('MARK IV', 1964)
 ('MIMIC', 1964) ('PL/I', 1964) ('Speakeasy', 1964) ('IBM RPG II', 1965)
 ('Atlas Autocode', 1965) ('TELCOMP', 1965) ('Euler', 1966)
 ('ISWIM', 1966) ('ALGOL W', 1966)
 ('Massachusetts General Hospital Utility Multi-Programming System', 1966)
 ('JOSS', 1966) ('Coral 66', 1966) ('BCPL', 1966) ('APL', 1966)
 ('FORTRAN 66', 1966)
 ('Massachusetts General Hospital Utility Multi-Programming System', 1967)
 ('Hop', 1967) ('XPL', 1967) ('Interlisp', 1967) ('BCPL', 1967)
 ('Simula', 1967) ('Space Programming Language', 1967) ('PILOT', 1968)
 ('ALGOL 68', 1968)]

In [5]:
import numpy as np 
dataset = np.loadtxt(
        "./pl.tsv", 
        dtype={'names': ('name', 'year'), 'formats': ('U100', 'i4')}, 
        skiprows=1, 
        delimiter="\t", 
        encoding="UTF-8"
) 
print(dataset)

[('ENIAC coding system', 1943) ('ENIAC Short Code', 1946)
 ('Von Neumann and Goldstine graphing system', 1946)
 ('ARC Assembly', 1947) ('Plankalkül', 1948) ('CPC Coding scheme', 1948)
 ('Curry notation system', 1948) ('Short Code', 1949)
 ('assembly language', 1949) ('Short Code', 1950)
 ('Birkbeck Assembler', 1950) ('G-code', 1950) ('Superplan', 1951)
 ('ALGAE', 1951) ('Intermediate Programming Language', 1951)
 ('Regional Assembly Language', 1951)
 ('Boehm unnamed coding system', 1951) ('Klammerausdrücke', 1951)
 ('OMNIBAC Symbolic Assembler', 1951) ('Stanislaus', 1951)
 ('Whirlwind assembler', 1951) ('Rochester assembler', 1951)
 ('Sort Merge Generator', 1951) ('Editing Generator', 1952)
 ('COMPOOL', 1952) ('autocode', 1952) ('A-0 System', 1952)
 ('READ/PRINT', 1953) ('Speedcoding', 1953) ('Fortran', 1954)
 ('MATRIX MATH', 1954) ('autocode', 1954) ('ARITH-MATIC', 1954)
 ('Laning and Zierler system', 1954) ('MATH-MATIC', 1954)
 ('FLOW-MATIC', 1955) ('BACAIC', 1955) ('Freiburger Code', 1955)
 ('Sequentielle Formelübersetzung', 1955) ('Internal Translator', 1955)
 ('PRINT', 1955) ('PACT', 1955) ('Information Processing Language', 1956)
 ('FORTRAN for the IBM 704', 1956) ('Fortran', 1957) ('UNICODE', 1957)
 ('COMTRAN', 1957) ('GEORGE', 1957) ('ALGOL 58', 1958) ('Lisp', 1958)
 ('FORTRAN III', 1958) ('FORTRAN II', 1958) ('ALGOL', 1958)
 ('JOVIAL', 1959) ('TRAC', 1959) ('COBOL', 1959) ('Lisp', 1959)
 ('MAD', 1959) ('FACT', 1959) ('COBOL', 1960) ('COBOL', 1960)
 ('ALGOL 60', 1960) ('ALCOR', 1960) ('FORTRAN IV', 1961) ('SNOBOL', 1962)
 ('TECO', 1962) ('Simula', 1962) ('APL', 1962) ('CORC', 1962)
 ('CPL', 1963) ('JOSS', 1963) ('P′′', 1964)
 ('Report Program Generator', 1964) ('TRAC', 1964) ('BASIC', 1964)
 ('COWSEL', 1964) ('PL/I', 1964) ('MARK IV', 1964) ('MIMIC', 1964)
 ('Speakeasy', 1964) ('IBM RPG II', 1965) ('Atlas Autocode', 1965)
 ('TELCOMP', 1965) ('Euler', 1966) ('ISWIM', 1966) ('ALGOL W', 1966)
 ('JOSS', 1966)
 ('Massachusetts General Hospital Utility Multi-Programming System', 1966)
 ('BCPL', 1966) ('Coral 66', 1966) ('FORTRAN 66', 1966) ('APL', 1966)
 ('Hop', 1967)
 ('Massachusetts General Hospital Utility Multi-Programming System', 1967)
 ('Space Programming Language', 1967) ('BCPL', 1967) ('Interlisp', 1967)
 ('Simula', 1967) ('XPL', 1967) ('PILOT', 1968)]

In [6]:
from pandas import json_normalize
import pandas as pd
import json

data = json.load(open('./pl.json'))
dataframe = json_normalize(data)
print(dataframe)

                                languageLabel  year
0                         ENIAC coding system  1943
1                            ENIAC Short Code  1946
2   Von Neumann and Goldstine graphing system  1946
3                                ARC Assembly  1947
4                                  Plankalkül  1948
..                                        ...   ...
95                                       BCPL  1967
96                                  Interlisp  1967
97                                     Simula  1967
98                                        XPL  1967
99                                      PILOT  1968

[100 rows x 2 columns]

In [7]:
import urllib.request
import json
import pandas as pd

url = "https://query.wikidata.org/sparql?query=SELECT%20%3FlanguageLabel%20(YEAR(%3Finception)%20as%20%3Fyear)%0AWHERE%0A%7B%0A%20%20%23instances%20of%20programming%20language%0A%20%20%3Flanguage%20wdt%3AP31%20wd%3AQ9143%3B%0A%20%20%20%20%20%20%20%20%20%20%20%20wdt%3AP571%20%3Finception%3B%0A%20%20%20%20%20%20%20%20%20%20%20%20rdfs%3Alabel%20%3FlanguageLabel.%0A%20%20FILTER(lang(%3FlanguageLabel)%20%3D%20%22en%22)%0A%7D%0AORDER%20BY%20%3Fyear%0ALIMIT%20100&format=json"
response = urllib.request.urlopen(url)
responsedata = json.loads(response.read().decode('utf-8'))

array = []

for data in responsedata['results']['bindings']:
     array.append([
         data['year']['value'],
         data['languageLabel']['value']
     ])

dataframe = pd.DataFrame(
     array,
     columns=['year', 'languageLabel']
)

dataframe = dataframe.astype(dtype= {"year":"<i4", "languageLabel":"<U200"})

print(dataframe)

    year                              languageLabel
0   1942                                 Plankalkül
1   1943                        ENIAC coding system
2   1946                           ENIAC Short Code
3   1946  Von Neumann and Goldstine graphing system
4   1947                               ARC Assembly
..   ...                                        ...
95  1967                 Space Programming Language
96  1968                                      Refal
97  1968                                      FOCAL
98  1968                                      PILOT
99  1968                                       CICS

[100 rows x 2 columns]

In [8]:
grouped = dataframe.groupby('year').count()
print(grouped)

      languageLabel
year
1942              1
1943              1
1946              2
1947              1
1948              2
1949              1
1950              3
1951             11
1952              4
1953              2
1954              4
1955              8
1956              1
1957              6
1958              2
1959              4
1960              6
1961              1
1962              5
1963              3
1964             11
1965              5
1966              6
1967              6
1968              4

In [9]:
grouped = dataframe.groupby('year').agg(['count'])
print(grouped)

     languageLabel
             count
year
1942             1
1943             1
1946             2
1947             1
1948             2
1949             1
1950             3
1951            11
1952             4
1953             2
1954             4
1955             8
1956             1
1957             6
1958             2
1959             4
1960             6
1961             1
1962             5
1963             3
1964            11
1965             5
1966             6
1967             6
1968             4

In [11]:
from pandas.io.json import json_normalize
import pandas as pd
import json

jsondata = json.load(open('./plparadigm.json'))
array = []

for data in jsondata:
    array.append([
        data['year'],
        data['languageLabel'], 
        data['paradigmLabel']
    ])

dataframe = pd.DataFrame(
    array,
    columns=['year', 'languageLabel', 'paradigmLabel']
)

dataframe = dataframe.astype(dtype= {"year" : "int64","languageLabel" : "<U200", "paradigmLabel" : "<U200"})

grouped = dataframe.groupby(['year', 'paradigmLabel']).agg(['count'])
print(grouped)

                                            languageLabel
                                                    count
year paradigmLabel
1948 procedural programming                             1
1949 non-structured programming                         1
     procedural programming                             1
1950 procedural programming                             1
1953 procedural programming                             1
...                                                   ...
1970 imperative programming                             1
     procedural programming                             1
     structured programming                             1
1971 functional programming                             1
     knowledge representation and reasoning             1

[73 rows x 1 columns]

In [12]:
grouped = dataframe.groupby(['paradigmLabel', 'year']).agg(['count'])
print(grouped)

                            languageLabel
                                    count
paradigmLabel          year
array programming      1954             1
                       1957             1
                       1962             1
                       1966             1
assembly language      1956             1
...                                   ...
structured programming 1957             1
                       1958             1
                       1962             1
                       1966             1
                       1970             1

[73 rows x 1 columns]

In [37]:
from pandas.io.json import json_normalize
import pandas as pd
import json

jsondata = json.load(open('./query.json'))
queryColumns = []

for data in jsondata:
    queryColumns.append([
        data['countryLabel'],
        data['year'], 
        data['population']
    ])


dataframe = pd.DataFrame(
    queryColumns,
    columns=['pays', 'annee', 'population']
)

print(dataframe.sort_values(by=['pays', 'annee'],  ascending = (True, True)))

             pays annee  population
0     Afghanistan  1960     8774440
1     Afghanistan  1961     8953544
2     Afghanistan  1962     9141783
3     Afghanistan  1963     9339507
4     Afghanistan  1964     9547131
...           ...   ...         ...
8584     Zimbabwe  2010    13076978
8585     Zimbabwe  2011    13358738
8586     Zimbabwe  2012    13724317
8587     Zimbabwe  2013    14149648
8588     Zimbabwe  2017    16529904

[8589 rows x 3 columns]

In [38]:
grouped = dataframe.groupby(['pays']).tail(1)
print(grouped)

                pays annee  population
57       Afghanistan  2021    37466414
113          Albania  2017     2873457
170          Algeria  2020    43900000
226   American Samoa  2020       55197
285          Andorra  2021       78151
...              ...   ...         ...
8441         Vietnam  2018    94660000
8469           Wales  2016     3113000
8476           Yemen  2017    28250420
8533          Zambia  2017    17094130
8588        Zimbabwe  2017    16529904

[187 rows x 3 columns]

In [53]:
dataframeGrouped = dataframe.groupby(['pays']).tail(1)

indexMax = dataframeGrouped['population'].idxmax()
print(dataframeGrouped.loc[indexMax])

print('-' * 100)

indexMin = dataframeGrouped['population'].idxmin()
print(dataframeGrouped.loc[indexMin])

pays          People's Republic of China
annee                               2021
population                    1442965000
Name: 6075, dtype: object
----------------------------------------------------------------------------------------------------
pays          Niue
annee         2016
population    1612
Name: 5605, dtype: object

In [161]:
from pandas.io.json import json_normalize
import pandas as pd
import json

jsondata = json.load(open('./query2.json'))
queryColumns = []

for data in jsondata:
    queryColumns.append([
        data['title'],
        data['subjectLabel'], 
        data['year']
    ])


dataframe = pd.DataFrame(
    queryColumns,
    columns=['titre', 'sujet', 'year']
)

print(dataframe)

                                                  titre   sujet  year
0     Homicide, Suicide, and Unintentional Firearm F...   death  2011
1     Suicide mortality in comparison to traffic acc...   death  2012
2     Self-injurious thoughts and behaviors as risk ...   death  2015
3     Violent Deaths Among Georgia Workers: An Exami...   death  2016
4     Increasing Morbidity in the Pregnant Populatio...   death  2015
...                                                 ...     ...   ...
4995  Association of flavoured cigar regulations wit...  Canada  2018
4996  Outbreak of invasive Streptococcus pneumoniae ...  Canada  2014
4997  Sex differences in life expectancy in Canada: ...  Canada  2011
4998  Features of physician services databases in Ca...  Canada  2012
4999  Rates of cancer incidence across terciles of t...  Canada  2013

[5000 rows x 3 columns]

In [162]:
dataframe.drop_duplicates()
df = dataframe.groupby(['year'])['year'].count().to_frame(name='count')
print(df.reset_index())

    year  count
0   2011    552
1   2012    622
2   2013    702
3   2014    728
4   2015    721
5   2016    728
6   2017    409
7   2018    310
8   2019    158
9   2020     62
10  2021      8

In [228]:
dataframe.drop_duplicates()
df = dataframe.groupby(['year', 'sujet'])['year'].count().to_frame(name='count')
df = df.reset_index()
print(df.loc[df.groupby(['year'])['count'].idxmax()])

    year      sujet  count
1   2011     Canada    455
5   2012     Canada    516
10  2013     Canada    571
15  2014     Canada    565
20  2015     Canada    545
25  2016     Canada    575
30  2017     Canada    258
34  2018     Canada    146
39  2019  happiness    135
43  2020  happiness     39
44  2021     Africa      3

In [246]:
df.loc[df.groupby(['year'])['count'].idxmax()].head(10)

    year      sujet  count
1   2011     Canada    455
5   2012     Canada    516
10  2013     Canada    571
15  2014     Canada    565
20  2015     Canada    545
25  2016     Canada    575
30  2017     Canada    258
34  2018     Canada    146
39  2019  happiness    135
43  2020  happiness     39

In [247]:
# Top 10 unique subject
print(df.sort_values('count').drop_duplicates('sujet',keep='last').head(10))

    year      sujet  count
46  2021      human      3
42  2020      death      4
14  2014     Africa     35
22  2015  happiness    148
25  2016     Canada    575